{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
    <title xmlns="http://www.w3.org/1999/html">Bakery | Blog Detail</title>
{% endblock %}

{% block content %}
    {% block title %}
        <title>Bakery | Blog Detail</title>
    {% endblock %}
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">Blog Detail</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="ps-section--page-reverse">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <div class="ps-blog-detail pt-80 pb-80">

                        <div class="ps-post">
                            <div class="ps-post__thumbnail">

                                <a class="ps-post__overlay" href="{{ path('_cupcakes_blog-listing') }}"> </a><img
                                        src="{{ asset('assets/front/images/blog/img-blog-4.jpg') }}" alt=""></div>
                            </a>
                            <div class="ps-post__header"><a class="ps-post__title"
                                                            href="{{ path('_cupcakes_blog-listing') }}">
                                    {{ actuality.title }}
                                </a>
                                <div class="ps-post__meta"><span><i class="fa fa-calendar-check-o"></i>
                                        {{ actuality.date|date }}
                                    </span><span
                                            class="tags"><i class="fa fa-tags"></i><a
                                                href="{{ path('_cupcakes_blog-listing') }}">Travel</a><a
                                                href="{{ path('_cupcakes_blog-listing') }}">Summer</a><a
                                                href="{{ path('_cupcakes_blog-listing') }}">Women</a></span></div>
                            </div>
                            <div class="ps-post__content">
                                <blockquote>
                                    <p>
                                        {{ actuality.content }}
                                    </p>
                                </blockquote>

                            </div>
                            <br class="ps-post__footer">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                                    <!-- <div class="ps-post__tags"><i class="fa fa-tags"></i><a href="{{ path('_cupcakes_blog-listing') }}">Travel</a><a href="{{ path('_cupcakes_blog-listing') }}">Balkal</a><a href="{{ path('_cupcakes_blog-listing') }}">Lake</a></div>-->
                                </div>
                                <!--<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="ps-post__action"><a class="like" href="#">Like<i class="fa fa-heart"></i><span><i>2</i></span></a><a class="facebook" href="#"><i class="fa fa-facebook"></i>Share</a><a class="twitter" href="#"><i class="fa fa-twitter"></i>Tweet</a></div>
                                </div>-->

                            </div>
                            <div class="ps-section__top">Like & Share</div>
                            <br{{ socialButtons() }}

                            </footer>

                        </div>
                        <div class="ps-author-box">
                            <div class="ps-author-box__thumbnail"><img
                                        src="{{ asset('assets/front/images/blog/yasmine2.jpg') }}" alt=""></div>
                            <div class="ps-author-box__content">
                                <h4>Yasmine Mouria</h4>
                                <p class="postion">Blogger</p>
                                <p>For more articles click <a href="http://parpara.tn/"><span class="circle"></span><b>HERE</b></a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>-->
        </div>
    </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock %}