{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">Formation</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">Your Contact history</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ps-section--cart pt-100 pb-100">
        <div class="container">
            <div class="ps-cart-listing">
                <p class="hidden-lg"><i>Slide right to view</i></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contacts in contact %}
                        <tr role="row" class="even">
                            <td>{{ contacts.id }}</td>
                            <td>{{ contacts.firstName }}</td>
                            <td>{{ contacts.tel }}</td>
                            <td>{{ contacts.email }}</td>
                            <td>{{ contacts.message}}</td>
                            <td>{{ contacts.status ? 'Contacted' : 'Not Contacted' }}</td>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}

{% endblock  %}
