
{% extends 'layoutAdmin.html.twig' %}
{% block header %}
    {{ parent() }}
    <link href="{{ asset('assets/back/plugins/datatables/css/jquery.datatables.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/back/plugins/datatables/css/jquery.datatables_themeroller.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/back/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block menu %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Header -->
          <!-- /Page Header -->
            <!-- Page Inner -->
            <div class="page-inner">
                <div class="page-title">
                    <h3 class="breadcrumb-header">Actualities</h3>
                </div>

                <div id="main-wrapper">

                    <div class="row">

                        <div class="col-md-12">
                            {{ render(controller('BackOfficeBundle:Actuality:new')) }} <br/><br/>
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Content</th>
                                                <th>Photo</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                                <th>Informations</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Content</th>
                                                <th>Photo</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                                <th>Informations</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            {% for actuality in actualities %}
                                                <tr role="row" class="even">
                                                    <td class="sorting_1"><a href="{{ path('actuality_show', { 'id': actuality.id }) }}">{{ actuality.id }}</a></td>
                                                    <td>{{ actuality.title }}</td>
                                                    <td>{{ actuality.content }}</td>
                                                    <td>{{ actuality.photo }}</td>
                                                    <td>
                                                        {{ render(controller('BackOfficeBundle:Actuality:edit',{'id':actuality.id})) }}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-danger btn-rounded" data-placement="top" title="" data-original-title="Supprimer"  data-toggle="modal" data-target="#deleteModal{{ actuality.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>    </a>
                                                        <div class="modal fade" id="deleteModal{{ actuality.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <br><br><br><br>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title">Deletion confirmation :</h4>
                                                                    </div>
                                                                    <div class="modal-body" >
                                                                        <p><span>Are you sure you want to delete <a href="#"></a>  {{ actuality.title }}? </span></p>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="{{ path ('actuality_delete',{'id': actuality.id}) }}" data-toggle="modal" class="btn btn-danger"  id="lien" >Delete</a>
                                                                        <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <button type="button" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#myModal{{ actuality.id }}">More</button>

                                                        <div class="modal fade" id="myModal{{ actuality.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <br><br><br><br>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">Informations :</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">

                                                                            <div class="col-lg-6">

                                                                                <ul>
                                                                                    <li><strong>Title: </strong>  {{ actuality.title }}</li> <br>
                                                                                    <li><strong>Content: </strong> {{ actuality.content }}</li> <br>
                                                                                    <li><strong>Photo: </strong>{{ actuality.photo }}</li><br>

                                                                                </ul>

                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
            </div><!-- /Page Inner -->


        </div><!-- /Page Content -->
    </div><!-- /Page Container -->
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('assets/back/plugins/datatables/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('assets/back/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/back/js/pages/table-data.js') }}"></script>
    <script src="{{ asset('assets/back/js/script.js') }}"></script>
{% endblock %}

