<div class="ps-cart" id="bouttonNotifUser"><a class="ps-cart__toggle" href="#"><span
                id="notifUser"><i>{{ count }}</i></span><i
                class="fa fa-bell-o"></i></a>
    <div class="ps-cart__listing">
        <div class="ps-cart__content">
            {% for notif in notifs %}
                <div class="ps-cart-item">
                    <div class="ps-cart-item__thumbnail">
                        <div class="ps-cart-item__content"><a class="ps-cart-item__title"
                                                              href="{{ notif.0.link }}">{{ notif.0.subject }}
                                <p><span><i>{{ notif.0.date }}</i></span>
                                    <span>{{ notif.0.message }}</span>
                                </p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(
        function () {
            $('#bouttonNotifUser').mouseover(function () {
                $('#notifUser').remove();
            })
        }
    )
</script>