{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="page-wrap">
    <!--section-->
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ps-section pt-80 pb-80">
        <div class="container">
            <div class="ps-contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__order">
                            <h3>YOUR CLAIMS</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-uppercase">Product</th>
                                    <th class="text-uppercase">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>HABITANT x1</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Card Subtitle</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Order Total</td>
                                    <td>$300.00</td>
                                </tr>
                                </tbody>
                            </table>
                            <h3>Payment Method</h3>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payment" value="0">Your Claims
                                    </label>
                                </div>
                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State /
                                    County, Store Postcode.</p>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payment" value="1">PAYPAL
                                    </label>
                                    <div class="card-list"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <button class="ps-btn ps-btn--sm" disabled>Previous</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <button class="ps-btn ps-btn--sm" disabled>Next</button>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="ps-contact__form">
                            <div class="form-group">
                                <select id="RType" name="RType" class="form-control">
                                    <option value="" selected>Please choose</option>

                                    <option value="Technical Problem">Technical Problem</option>
                                    <option value="Commercial Problem">Commercial Problem</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <textarea id="RMsg" class="form-control" rows="6"
                                          placeholder="Text your message here..."></textarea>
                            </div>
                            <div class="form-group mt-30">
                                <button id="RSubmit" class="ps-btn ps-btn--sm ps-contact__submit">Submit</button>
                                <div class="alert">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}

    {% endblock %}

    {% block jsLibrary %}
        {{ parent() }}

    {% endblock %}

    {% block slider %}
        {{ parent() }}

    {% endblock %}

    {% block CustomScripts %}
    {{ parent() }}
{% endblock %}