{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block title %}
        <title>Bakery | Reservation</title>
    {% endblock %}
    <!--section-->
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ps-section--cart pt-100 pb-100">
        <div class="container">

            <h1>Reservations list</h1>

            <div class="table-responsive">

                <table class="table" id="table">
                <thead>
                <tr>
                    <th>Reservation Date</th>
                    <th>Number of table</th>
                    <th>Number of person</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr id="addr{{ reservation.id }}">
                        <td>{% if reservation.dateReservation %}{{ reservation.dateReservation|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ reservation.nbTable }}</td>
                        <td>{{ reservation.nbPerson }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a id="" class="glyphicon glyphicon-trash" onclick="delete_entry_res({{ reservation.id }})"> </a>
                                </li>
                                <li>
                                    <a class="glyphicon glyphicon-ok-circle" onclick="validate_row_res({{ reservation.id }})"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="form-group text-left">
                <button id="add_row" class="ps-btn">New Reservation<i class="fa fa-angle-right"></i></button>
            </div>
        </div>

        <center>
            <div class="navigation">
                {{ knp_pagination_render(reservations) }}
            </div>
        </center>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock  %}