{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block title %}
        <title>Bakery | Cart</title>
    {% endblock %}
    <!--section-->
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ps-section--cart pt-100 pb-100">
        <div class="container">
            <div class="ps-cart-listing">
                <p class="hidden-lg"><i>Slide right to view</i></p>
                <div id="table" class="table-responsive">
                    <table  class="table">
                        <thead>
                        <tr>
                            <th>All Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>

                        </thead>

                        {% for cart in carts  %}
                        <tbody>
                        <tr id="{{ cart.id }}">
                            <td>
                                <div class="ps-product--cart"><img src="{{ asset('assets/front/images/cake/img-cake-7.jpg') }}" alt=""><a href="{{ path('_cupcakes_product-detail') }}">{{ cart.product.name }}</a></div>
                            </td>
                            <td><div id="price{{ cart.id }}">{{ cart.product.price }}</div></td>
                            <td>
                                <div class="form-group--number">
                                    <button id="{{ cart.id }}" class="minus" onclick="sousAction(this.id);"><span>-</span></button>
                                    <input id="q{{ cart.id }}" class="form-control" type="text" value="1">
                                    <button id="{{ cart.id }}" class="plus" onclick="addAction(this.id)"><span>+</span></button>
                                </div>
                            </td>
                            <td><span id="total{{ cart.id }}" class="total-row" >{{ cart.product.price }}</span></td>
                            <td>

                                <a id="remove" href="{{ path('_cupcakes_cart_remove',{id:cart.id }) }}"> <div id="remove"  class="ps-cart-listing__remove"> </div></a>

                            </td>
                        </tr>
                        <tbody>

                        {% endfor %}
                    </table>
                </div>
                <div class="ps-cart__process">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                            <div class="form-group form-group--icon ps-cart__promotion">
                                <div class="icon-wrap"><i class="fa fa-angle-right"></i>
                                    <input class="form-control" type="text" placeholder="promotion code">
                                </div>
                            </div>
                            <div class="form-groupform-order">
                                <button   class="ps-cart__shopping">Continue Shopping</button>
                            </div>
                            <a href="{{path('_cupcakes_payment',{price:price*100})}}">Buy</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="ps-cart__total">
                                <p>Total Price: <span id="total">{{ price }}</span></p>
                                <input type="button" id="check"  value="Buy" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="{{ asset('jquery.js') }}"></script>


    <script type="text/javascript">



       $(function () {
           $('[id="remove"]').on('click', function(e) {
               location.reload();
               var href = this.href;
               e.preventDefault();
               $.ajax({
                   type: "POST",
                   url: href,
                   dataType: 'json',
                   success: function(json) {

                       console.log(json);
                   }
               });
           });
       });

       function addAction(ok)
       {

           var plus=$('#q'+ok).val();
           $('#q'+ok).val(parseInt(plus)+1);
           var quantity=parseInt($('#q'+ok).val());
           var price1 =parseInt($('#price'+ok).text());
           $('#total'+ok).html(quantity*price1);
            var total =parseInt($('#total').text())+price1;
           $('#total').html(total);
       }

       function sousAction(id)
       {

               var moin=$('#q'+id).val();
               if(((parseInt(moin) - 1)>0)) {
                   $('#q'+id).val(parseInt(moin) - 1);
                   var quantity=parseInt($('#q'+id).val());
                   var price1 =parseInt($('#price'+id).text());
                   $('#total'+id).html(quantity*price1);
                   var total =parseInt($('#total').text())-price1;
                   $('#total').html(total);
               }

       }






    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock  %}