<div class="bd-example">
    <button type="button" class="btn btn-default" id="" data-toggle="modal" data-target="#exampleModal{{ claim.id }}"
            data-whatever="@getbootstrap"><i class="fa fa-magic"> </i></button>
    <div class="modal fade" id="exampleModal{{ claim.id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <br><br><br>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Update Product</h4>
                </div>
                <div class="modal-body">

                    <form action="">
                        <div class="form-group">
                            <label for="name">Answer</label>
                            <input type="text" class="form-control" aria-rowspan="5" id="answer{{ claim.id }}" required>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <table border="0" align="right">
                        <tr>

                            <td>
                                <button type="button" class="btn btn-parimay"  data-dismiss="modal" onclick="ajout({{ claim.id }})">
                                    Answer
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                            </td>
                        </tr>
                        <div id="retourServ{{ claim.id }}">

                        </div>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function ajout(id) {
        console.log($('#answer' + id).val());
        axios.post("/admin/claim/answer/" + id, {
            answer: $('#answer' + id).val()

        }).then(function (response) {
            $("#answeredBy" + id).html(response.data);
            $("#answered" + id).html('Yes');
            console.log("#retourServ{{ claim.id }}");
            $("#retourServ{{ claim.id }}").html('<div class="alert alert-success"><strong>Success!</strong></div>')


        }).catch(function (reason) {
            $("#retourServ{{ claim.id }}").html('<div class="alert alert-danger"> <strong>Error!</strong></div>')
        })
    }
</script>


