{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if participant.date %}{{ participant.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idevent</th>
                <td>{{ participant.idEvent }}</td>
            </tr>
            <tr>
                <th>Idparticipant</th>
                <td>{{ participant.idParticipant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participants_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participants_edit', { 'id': participant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
