{% extends 'layoutAdmin.html.twig' %}
{% block header %}
    {{ parent() }}
    <link href="{{ asset('assets/back/plugins/datatables/css/jquery.datatables.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('assets/back/plugins/datatables/css/jquery.datatables_themeroller.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('assets/back/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar.print.css') }}" media="print" />

{% endblock %}
{% block menu %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Header -->
            <!-- /Page Header -->
            <!-- Page Inner -->
            <div class="page-inner">
                <div class="page-title">
                    <h3 class="breadcrumb-header">Event details</h3>
                </div>

                <div id="main-wrapper">
                    <table class="table">
                        <tbody>

                        <tr>
                            <th>Startingdate</th>
                            <td>{% if event.StartDatetime %}{{ event.StartDatetime|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Endingdate</th>
                            <td>{% if event.EndDatetime %}{{ event.EndDatetime|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Nbperson</th>
                            <td>{{ event.nbPerson }}</td>
                        </tr>
                        <tr>
                            <th>Nbtable</th>
                            <td>{{ event.nbTable }}</td>
                        </tr>
                        <tr>
                            <th>Band</th>
                            <td>{% if event.band %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td>{{ event.cost }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td id="status">{{ event.status }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button id="accept" type="button" class="btn btn-success" onclick="event_status('accept',{{ event.id }})">Accept</button>
                    <button id="reject" type="button" class="btn btn-danger" onclick="event_status('reject',{{ event.id }})">Reject</button>


                </div><!-- Main Wrapper -->
            </div><!-- /Page Inner -->


        </div><!-- /Page Content -->
    </div><!-- /Page Container -->
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('assets/back/plugins/datatables/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('assets/back/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/back/js/pages/table-data.js') }}"></script>
    <script src="{{ asset('assets/back/js/script.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('assets/back/js/jquery-1.8.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/init.fullCalendar.js') }}"></script>
{% endblock %}

