{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
   {% block title %}
       <title>Bakery | Product Detail</title>
   {% endblock %}


    <!-- Heros-->
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/02.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li><a href="{{ path('_cupcakes_product-listing') }}">Shop</a></li>
                    <li class="active">Anytime Cakes</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="ps-section pt-80 pb-80">
        <div class="container">
            <div class="ps-product--detail">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                        <div class="ps-product__thumbnail">
                            <div class="ps-badge"><span>50%</span></div>
                            <div class="owl-slider primary" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">
                                <div class="ps-product__image"><img src="{{ asset('images/products/')}}{{  products.photo }}" alt=""></div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                        <header>

                            <h3 class="ps-product__name">{{ products.name }}</h3>
                            <div>

                                {{ render(controller(
                                'ECommerceBundle\\Controller\\RatingController::showRatingAction',
                                { 'id': products.id  }
                                )) }}
                            </div>
                            <div id="a" hidden>{{ products.id }}</div>
                            <p id="price" class="ps-product__price">{{ products.price }}
                                <del>{{ products.price }}</del>
                            </p><a class="ps-product__quickview popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out">QUICK OVERVIEW</a>
                            <div class="ps-product__description">
                                <p>{{ products.description }}</p>
                            </div>
                            <div class="ps-product__meta">
                                <p><span> Availability: </span> In stock</p>
                                <p class="category"><span>CATEGORIES: </span><a >{{ products.type }}</a>
                            </div>

                            <div class="ps-product__shop">

                                <ul class="ps-product__action">
                                    <li><a href="{{ path('_cupcakes_cart_add',{id:products.id}) }}" data-tooltip="Add to Cart"><i class="ps-icon--heart"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <footer>
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 "><a class="ps-btn--fullwidth ps-btn" href="{{ path('_cupcakes_cart')}}">Go To Cart<i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 ">
                                    <p class="ps-product__sharing">Share with:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-twitter"></i></a></p>
                                </div>
                            </div>
                        </footer>
                    </div>

                </div>
                <div class="ps-product__info">
                    <ul class="tab-list" role="tablist">
                        <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
                        <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review</a></li>
                        <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">PRODUCT TAG</a></li>
                        <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">ADDITIONAL</a></li>
                    </ul>
                </div>
                <div class="tab-content mb-60">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <p>Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.</p>
                        <p>Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie. Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum pastry sweet roll..</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_02">
                        <p>1 review for Cupcakes Red Flowers</p>
                        <div class="ps-review-box">
                            <div class="ps-review-box__thumbnail"><img src="{{ asset('assets/front/images/blog/people.png') }}" alt=""></div>
                            <div class="ps-review-box__content">
                                <header>
                                    <select class="ps-rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <p>By<a href=""> Alena Studio</a> - November 25, 2017</p>
                                </header>
                                <p>Soufflé danish gummi bears tart. Pie wafer icing. Gummies jelly beans powder. Chocolate bar pudding macaroon candy canes chocolate apple pie chocolate cake. Sweet caramels sesame snaps halvah bear claw wafer. Sweet roll soufflé muffin topping muffin brownie. Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie.</p>
                            </div>
                        </div>
                        <form class="ps-product__review" action="_action" method="post">
                            <h4>ADD YOUR REVIEW</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Name:*<span>*</span></label>
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Email: *<span>*</span></label>
                                        <input class="form-control" type="email" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label>Your rating<span></span></label>
                                        <select class="ps-rating">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Your Review:</label>
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="ps-btn ps-btn--sm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_03">
                        <p>Add your tag <span> *</span></p>
                        <div class="ps-product__tags">
                            <div class="form-group">
                                <input id="i" class="form-control" type="text" placeholder="">
                                <button id="b" class="ps-btn ps-btn--sm">Add Tag</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_04">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="ps-btn" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="ps-section ps-section--best-seller pt-40 pb-100">
    <div class="container">
        <div class="ps-section__header text-center mb-50">
            <h4 class="ps-section__top">Sweet Cupcakes</h4>
            <h3 class="ps-section__title ps-section__title--full">BEST SELLER</h3>
        </div>
        <div class="ps-section__content">
            <div class="owl-slider owl-slider--best-seller" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;ps-icon--back&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;ps-icon--next&quot;&gt;&lt;/i&gt;">
               {% for best in bests %}
                <div class="ps-product">
                    <div class="ps-product__thumbnail">
                        <a class="ps-product__overlay" href="#"></a><img src="{{ asset('assets/front/images/cake/img-cake-7.jpg') }}" alt="">
                        <ul class="ps-product__action">
                            <li><a  href="{{ path('_cupcakes_product-detail',{id: best.id}) }}" ><i class="ps-icon--search"></i></a></li>
                            <li><a href="{{ path('_cupcakes_cart_add',{id: best.id}) }} data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="ps-product__content"><a class="ps-product__title" href="product-detail.html">{{ best.name }}</a>
                        <div class="ps-product__category"><a class="ps-product__category" href="product-listing.html">{{ best.type }}</a>
                        </div>
                        <div>

                            {{ render(controller(
                            'ECommerceBundle\\Controller\\RatingController::showRatingAction',
                            { 'id': best.id  }
                            )) }}
                        </div>
                        <p class="ps-product__price">{{ best.price }}</p>
                    </div>

                </div>

               {% endfor %}


            </div>

        </div>
    </div>
</section>
    <script type="text/javascript" src="{{ asset('jquery.js') }}"></script>

    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        $("#b").click(function(){
            var id=$('#a').text();
            axios.post("{{path('_cupcakes_add_tag')}}", {

                name : $("#i").val(),
                id:id,
                ajax : "true"
            })
                    .then(function (response) {
                        $('#i').html("");
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); });

    </script>
{% endblock %}



{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock  %}