{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
   {% block title %}
       <title>Bakery | Product Detail</title>
   {% endblock %}


    <!-- Heros-->
    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/02.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li><a href="{{ path('_cupcakes_product-listing') }}">Shop</a></li>
                    <li class="active">Anytime Cakes</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="ps-section pt-80 pb-80">
        <div class="container">
            <div class="ps-product--detail">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                        <div class="ps-product__thumbnail">
                            <div class="ps-badge"><span>{{ products.promotion.discount *100 }}%</span></div>
                            <div class="ps-product__thumbnail">
                                <a class="ps-product__overlay" href="javascript:;"></a><img src="{{ asset('images/products/')}}{{  products.photo }}" alt=""></div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                        <header>

                            <h3 class="ps-product__name">{{ products.name }}</h3>
                            <div>

                                {{ render(controller(
                                'ECommerceBundle\\Controller\\RatingController::showRatingAction',
                                { 'id': products.id  }
                                )) }}
                            </div>
                            <div id="a" hidden>{{ products.id }}</div>
                            <p id="price" class="ps-product__price">{{products.price - products.price *products.promotion.discount }}
                                <del>{{ products.price }}</del>
                            </p><a class="ps-product__quickview popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out">QUICK OVERVIEW</a>
                            <div class="ps-product__description">
                                <p>{{ products.description }}</p>
                            </div>
                            <div class="ps-product__meta">
                                <p><span> Availability: </span> In stock</p>
                                <p class="category"><span>CATEGORIES: </span><a >{{ products.type }}</a>
                            </div>

                            <div class="ps-product__shop">

                                <ul class="ps-product__action">
                                    <li><a id="carts" href="{{ path('_cupcakes_cart_add',{id:products.id}) }}" data-tooltip="Add to Cart"><i class="ps-icon--heart"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <footer>
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 "><a class="ps-btn--fullwidth ps-btn" href="{{ path('_cupcakes_cart')}}">Go To Cart<i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 ">
                                    <p class="ps-product__sharing">Share with:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-twitter"></i></a></p>
                                </div>
                            </div>
                        </footer>
                    </div>

                </div>
                <div class="ps-product__info">
                    <ul class="tab-list" role="tablist">
                        <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Product Tags</a></li>

                    </ul>
                </div>
                <div class="tab-content mb-60">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <p>Add your tag <span> *</span></p>
                        <div class="ps-product__tags">
                            <div class="form-group">
                                <input id="i" class="form-control" type="text" placeholder="">
                                <button id="b" class="ps-btn ps-btn--sm">Add Tag</button>
                            </div>
                        </div>



    <script type="text/javascript" src="{{ asset('jquery.js') }}"></script>

    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        $("#b").click(function(){
            var id=$('#a').text();
            axios.post("{{path('_cupcakes_add_tag')}}", {

                name : $("#i").val(),
                id:id,
                ajax : "true"
            })
                    .then(function (response) {
                        $('#i').html("");
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); });

        $('[id="carts"]').on('click', function(e) {
            var href = this.href;
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: href,
                dataType: 'json',
                success: function(json) {
                    console.log(json);
                }
            });
        });

    </script>
{% endblock %}



{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock  %}