
{% extends 'layoutPages.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block title %}
        <title>Bakery | Product Listing</title>
    {% endblock %}
    <!-- Heros-->


    <div class="ps-section--hero"><img src="{{ asset('assets/front/images/hero/01.jpg') }}" alt="">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">OUR BAKERY</h3>
            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{{ path('_cupcakes_homepage') }}">Home</a></li>
                    <li class="active">Shop</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ps-section--page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
                    <div class="ps-shop-listing pt-80 pb-40">
                        <div class="ps-shop-features">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 "><img class="mb-30" src="{{ asset('assets/front/images/product-banner/012x.jpg') }}" alt="">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 "><img class="mb-30" src="{{ asset('assets/front/images/product-banner/022x.jpg') }}" >
                                </div>
                            </div>
                        </div>
                        <div class="ps-shop-filter">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Popular :</label>
                                        <select  id="popular" class="ps-select" data-placeholder="Popupar product">
                                            <option value="1">Most rated</option>
                                            <option value="2">Most viewed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Sort By</label>
                                        <select id="sort"   class="ps-select" data-placeholder="Show:"  >
                                            <option value="1">Name</option>
                                            <option value="2">Price</option>
                                            <option value="3">Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 ">
                                    <ul class="ps-shop-switch">
                                        <li class="active"><a href="product-listing.html"><i class="fa fa-th"></i></a></li>
                                        <li><a href="product-grid.html"><i class="fa fa-list"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% for product in products %}
                            <div>
                                <div id="product" class="ps-product--list ps-product--list-large">
                                    <div class="ps-product__thumbnail">
                                        <a class="ps-product__overlay" href="product-detail.html"></a><img src="{{ asset('images/products/')}}{{  product.photo }}" alt=""></div>
                                    <div class="ps-product__content">

                                        <h4 id="name" class="ps-product__title"><a href="{{ path('_cupcakes_product-detail',{'id':product.id }) }}">{{ product.name }}</a></h4>
                                        <div>

                                            {{ render(controller(
                                        'ECommerceBundle\\Controller\\RatingController::showRatingAction',
                                        { 'id': product.id  }
                                        )) }}
                                        </div>
                                        <p class="ps-product__price">
                                            <del>{{ product.price }}</del>{{product.price - product.price *product.promotion.discount }}
                                        </p>
                                        <p id="desc">Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate. Cupcake sweet roll sweet dragée dragée. Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate cake.</p>
                                        <footer class="ps-product__footer clearfix"><a class="ps-btn ps-btn--sm" href="{{ path('_cupcakes_cart',{id:product.id}) }}">Order now<i class="fa fa-angle-right"></i></a>
                                            <ul class="ps-product__action">
                                                <li><a id="cart" href="{{ path('_cupcakes_cart_add',{id:product.id}) }}" data-tooltip="Add to Cart"><i class="ps-icon--heart"></i></a></li>
                                                <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>
                                            </ul>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <center>
                            <div id="page" class="navigation ">
                                {{ knp_pagination_render(products) }}
                            </div>
                        </center>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">
                    <div class="ps-sidebar">
                        <aside class="ps-widget ps-widget--sidebar ps-widget--search">

                            <input id="search" class="form-control" type="text" placeholder="Type here bakery name...">
                            <button id="validate"><i class="ps-icon--search"></i></button>

                        </aside>
                        <aside class="ps-widget ps-widget--sidebar ps-widget--category">
                            <div class="ps-widget__header">
                                <h3 class="ps-widget__title">CATEGORY</h3>
                            </div>
                            <div class="ps-widget__content">
                                <ul class="ps-list--circle">
                                    {% for type in types  %}
                                        <li><a id="type" href="javascript:;" ><span class="circle"></span>{{ type.type }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar ps-widget--filter">
                            <div class="ps-widget__header">
                                <h3 class="ps-widget__title">Fillter Prices</h3>
                            </div>
                            <div class="ps-widget__content">
                                <div id="slider" class="ac-slider" data-default-min="5" data-default-max="30" data-max="100" data-step="5" data-unit="$"></div>
                                <p class="ac-slider__meta">Price:<span class="ac-slider__value ac-slider__min"></span>-<span class="ac-slider__value ac-slider__max"></span></p><button id="filter" name="filter" class="ac-slider__filter ps-btn ps-btn--xs"  >Filter</button>


                            </div>
                        </aside>

                        <aside class="ps-widget ps-widget--sidebar ps-widget--best-seller">
                            <div class="ps-widget__header">
                                <h3 class="ps-widget__title">Best seller</h3>
                            </div>
                            <div class="ps-widget__content">
                                {% for best in bests %}
                                <div class="ps-product--sidebar">
                                    <div class="ps-product__thumbnail">
                                        <a class="ps-product__overlay" ></a><img src="{{ asset('assets/front/images/cake/img-cake-12.jpg') }}" alt=""></div>
                                    <div class="ps-product__content">
                                        <h4 class="ps-product__title"><a href="product-detail.html">{{ best.name }}’</a></h4>
                                        <p class="ps-product__price">
                                            <del>{{ best.price }}</del>{{best.price - best.price *best.promotion.discount }}
                                        </p><a class="ps-btn ps-btn--xs" href="product-detail.html">Add to Cart</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar ps-widget--tags">
                            <div class="ps-widget__header">
                                <h3 class="ps-widget__title">TAGS</h3>
                            </div>
                            <div class="ps-widget__content">
                                <ul class="ps-tags">
                                    {% for tag in tags %}
                                    <li><a href="javascript:;" onclick="findbytag(this.id)" id="{{ tag.name }}">{{ tag.name }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="JavaScript1.5" src="{{ asset('jquery.js') }}"></script>

    <script type="text/javascript">
$(document).ready(function() {
    $("#filter").click(function(){
        axios.post("{{path('_cupcakes_product-grid')}}", {

            max : $("#slider").slider('values',1),
            min : $("#slider").slider('values',0),
            ajax : "true"
        })
                .then(function (response) {

                    $("#page").hide();

                    $("#product div").remove();
                    $("#product").append(response.data);
                    console.log(response);

                })
                .catch(function (error) {
                    console.log(error);
                }); });

});


        $('[id="type"]').click(function(){

            axios.post("{{path('_cupcakes_product-category')}}", {
                type : $(this).text(),
                ajax : "true"
            })
                    .then(function (response) {


                        $("#page").hide();

                        $("#product div").remove();
                        $("#product").append(response.data);
                        console.log(response);



                        {#$("#product").load("{{path('_cupcakes_product-grid')}}")#}


                    })
                    .catch(function (error) {
                        console.log(error);
                    }); });








        $(function () {
            $('#sort').change(function() {
                var value = $(this).val();
                axios.post("{{path('_cupcakes_product-sort')}}", {
                    sort :  value,
                    ajax : "true"
                })
                        .then(function (response) {



                            $("#page").hide();

                            $("#product div").remove();
                            $("#product").append(response.data);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

            });
        });

        $(function () {
            $('#popular').change(function() {
                var value = $(this).val();
                axios.post("{{path('_cupcakes_product_most_rated')}}", {
                    sort :  value,
                    ajax : "true"
                })
                        .then(function (response) {


                            $("#page").hide();

                            $("#product div").remove();
                            $("#product").append(response.data);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

            });
        });

function findbytag(name) {


            axios.post("{{ path('_cupcakes_product_tags') }}", {
                name:name,
                ajax: "true"
            })
                    .then(function (response) {


                        $("#page").hide();

                        $("#product div").remove();
                        $("#product").append(response.data);
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
}

        $("#search").keyup(
                function () {
                    var name=$('#search').val();
                    axios.post("{{path('_cupcakes_product-search')}}", {
                        name :  name,
                        ajax : "true"
                    })
                            .then(function (response) {
                                $("#page").hide();

                                $("#product div").remove();
                                $("#product").append(response.data);
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });


                });

        $('[id="cart"]').on('click', function(e) {
            var href = this.href;
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: href,
                dataType: 'json',
                success: function(json) {
                    console.log(json);
                }
            });
        });















    </script>

{% endblock %}


{% block footer %}
    {{ parent() }}

{% endblock %}

{% block jsLibrary %}
    {{ parent() }}

{% endblock %}

{% block slider %}
    {{ parent() }}

{% endblock %}

{% block CustomScripts %}
    {{ parent() }}
{% endblock  %}